.logo{
    height: 85%;
    padding-right: 0;
}

.navegator {
    height: 20%;
    max-width: 1400px;
    width: 95%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    background-color: white;
}

.logo:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.navigationLinks{
    width: 60%;
    display: flex;
}

.navigationLinks a{
    padding-right: 30px;
    color: rgb(139, 149, 149);
}

.navigationLinks a:hover{
    color: rgb(86, 91, 91);
}